{% extends "base.html" %}
{% block head %}
<title>Archives</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/archives.css') }}">
{% endblock %}

{% block content %}

{% for archives in archives_list %}
<div>
    <div class="timeline">
        <div class="timeline-item" id="timeline-example-2">
            <div class="timeline-left">
              <a class="timeline-icon icon-lg" href="#timeline-example-2">
                <i class="icon icon-check"></i>
              </a>
            </div>
            <div class="timeline-content">
              {{ archives.month }}
            </div>
        </div>
        {% for article in archives.article_list %}
            <div class="timeline-item" id="timeline-example-1">
                <div class="timeline-left">
                  <a class="timeline-icon" href="#timeline-example-1"></a>
                </div>
                <div class="timeline-content">
                    <span class="archive-time">{{ article.create_time | format_time }}</span>
                    <span class="archive-title"><a style="color: #3c3c3c" href="/post/{{ article.id }}">{{ article.title }}</a></span>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endfor %}

{% endblock %}

{% block script %}

{% endblock %}
