{% extends "base.html" %}
{% block head %}
<title>{{article_info.title}}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/detail.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/comment.css') }}">
{% endblock %}

{% block content %}
<div class="detail-post" id="comment_app">
    <div class="container">
        <div class="post-title-detail">{{article_info.title}}</div>
        <div class="post-time">
            {{article_info.create_time | time_human}} ·
            <span>
                {% for tag in tag_list %}
                    <a href="/tags/{{tag.name}}" class="detail-tags">{{tag.name}},</a>
                {% endfor %}
            </span>
        </div>

        <div class="detail-content">
            {{article_info.text | safe}}
            <p style="margin-top: 24px;text-align: center">--EOF--</p>
        </div>
        <div class="next_pre">
            <a href="/post/{{pre_article.id}}" class="pre">
                {% if pre_article %}
                <span><</span>
                {% endif %}
                {{pre_article.title}}
            </a>

            <a href="/post/{{next_article.id}}" class="next">
                {{next_article.title}}
                {% if next_article %}
                <span>> </span>
                {% endif %}
            </a>
        </div>
    </div>
</div>
{% endblock %}
