html{
    height: 100%
}

body {
    height: 100%;
    margin: 0;
    background: #f7f5f5
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h3 {
    font-weight: 100;
}

p{
    font-size: 15px;
}
img{
    max-width: 690px !important;
}
ul{
    padding: 0;
}
li{
    list-style:none
}

input:focus,
input:hover{
    outline: none;
}

/* LAYOUT CSS */
.mid_container {
    max-width: 85%;
    padding-top: 50px;
    min-height: 90%;
}

.header-img {
    width: 180px;
    border-radius: 100px;
    display: inline;
}
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
    height: 100%
}

.header_page {
    text-align: center;
    top: auto;
    margin: 0 auto;
}

.sidebar {
    background: #232629;
    color: #fff;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.custom-restricted-width{
    text-align: center;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.posts {
    margin-top: 0;
}
.post {
    border-bottom: 1px solid #efefef;
    padding-top: 10px;
}
.post-title {
    font-size: 24px;
    color: #222;
    margin-bottom: 3px;
    font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
}
.post-time {
    color: #737373;
    font-size: 13px
}

.post-tag {
    font-size: 9px;
    color: #737373;
    float: right;
    margin-top: 15px
}
.post-description {
    color: #444;
    line-height: 1.8em;
}

    .post-category-design {
        background: #5aba59;
    }
    .post-category-pure {
        background: #4d85d1;
    }
    .post-category-yui {
        background: #8156a7;
    }
    .post-category-js {
        background: #df2d4f;
    }

.post-images {
    margin: 1em 0;
}

.footer {
    padding: 1em 0;
    color: #737373;
    font-size: 10px;
    position: relative;
    bottom: 0;
}


@media (min-width: 700px) {
    .posts {
        margin-top: 0;
    }
    .content_page {
        padding: 2em 3em 0;
        margin-left: 25%;
        height: 100%;
    }
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 23%;
        min-width: 183px;
    }
    .footer {
        text-align: right;
    }
    .header_page{
        margin: 3em auto;
    }
}

.about{
    font-size: 30px
}

.search{
    position: relative;
    width: 100%;
    margin: auto;
    max-width: 120px;
}

.fa.fa-search{
    position: absolute;
    z-index: 5;
    top: 5px;
    left: 6px;
    color: #292929;
}

#search-item{
    margin: auto;
}
.search.pure-input-rounded{
    padding: 0 25px 0 25px;
    width: 100%;
    height: 30px;
    background-color: #d0d0d0;
    color: black;
}

#user-op{
    display: none;
}

#username:hover  #user-op{
    display: inline-block;
}

.w-e-text-container{
    height: 600px !important;
}

.sidebar_icon{
    width: 18px;
}

.icon_li{
    display: inline-block;
    margin-left: 5px;
}