.mid_container{
	margin-top: 20px;
}
.tag-header{
	border-bottom: 1px solid #d8d5d5;
    font-size: 18px;
    padding-bottom: 13px;
    margin-bottom: 33px;
}
.tags{
	margin-bottom: 20px
}

.tag{
	display: inline-block;
    margin: 0 10px 10px 10px;
    font-size: 14px;
    color: #484848;
	border: 1px solid #c1c1c1;
    padding: 5px 10px;
}
